
<div class="container">

<h1>Khoi Nguyen's assignment blog</h1>
<h3> My first Rails Application for CoderSchool assignment!</h3>

<%= render @articles %>
  
<br>

<%= link_to 'New Article', new_article_path %>

</div>

