<div class="card" align="middle">
  <h1>Welcome to KhoiNguyen's first blog app !!!</h1>
  <h3>This is my first RoR applications for CoderSchool</h3>
  <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_fill,g_faces:center,h_300,q_90,w_300/cs_fb_bnvwlw.png"  />
  <br/><br/>
  <a class="link" href="articles">Click here for my app's detail</a>
  <br/><br/>
</div>
